<div id="discordInviteBox" version="1.0">
	<div id="discordInvite" style="width: 400px;">
		<a href="/discord" title="Join">
		<div id="discordData">
				<div id="serverImg" class="discordLink loadHidden" style="background: url('/assets/site-img/PSGL-Discord-Logo.png') 50% 50% / 100% 100% repeat scroll padding-box padding-box rgb(54, 57, 63); display: block;"></div>
			<div id="discordInfo">
					<div id="serverNameBox" class="discordLink">
					<span class="noselect" id="serverName">The PSGL Discord</span>
					</div>
			</div>
				<button type="button" id="callToAction">
					<div id="buttonText" class="noselect">Join</div>
				</button>
		</div>
		</a>
</div>
</div>