<div id="discordInviteBox" version="1.0">
	<div id="discordInvite" style="width: 400px;">
		<div id="discordData">
			<a href="/discord">
				<div id="serverImg" class="discordLink loadHidden" style="background: url('https://cdn.discordapp.com/icons/561239621464489994/cc20c748c0647202b0c09737d872fa6e.jpg') 50% 50% / 100% 100% repeat scroll padding-box padding-box rgb(54, 57, 63); display: block;"></div>
			</a>
			<div id="discordInfo">
				<a href="/discord">
					<div id="serverNameBox" class="discordLink">
					<span class="noselect" id="serverName">The PSGL Discord</span>
					</div>
				</a>
			</div>
			<a href="/discord" id="callToActionLink">
				<button type="button" id="callToAction">
					<div id="buttonText" class="noselect">Join</div>
				</button>
			</a>
		</div>
	</div>
</div>