<footer id="footer_section">
	<div class="wrapper">
		<p>
			<span class="built_by"><a href="https://github.com/Three-Socks/PSGL" rel="noopener noreferrer" target="_blank">Source Code</a> &bull; <a href="https://www.netlify.com/" rel="noopener noreferrer" target="_blank">Deploys by Netlify</a></span>
		</p>
		<p>Copyright &copy; Premier Sim Gaming Leagues Ltd. All rights reserved. &bull; <a href="/contact">Contact</a> &bull; <a href="/terms">Terms</a> &bull; <a href="/privacy">Privacy</a>
			<button id="preferenceModal" class="iubenda-cs-preferences-link" type="button">Manage Cookie Preferences</button>
		</p>
	</div>
</footer>
