<footer id="footer_section">
	<div class="wrapper">
		<p>
			<span class="built_by"><a href="https://github.com/Three-Socks/PSGL" rel="noopener noreferrer" target="_blank">Source Code</a> &bull; <a href="https://www.netlify.com/" rel="noopener noreferrer" target="_blank">Deploys by Netlify</a></span>
		</p>
		<p>Copyright &copy; Premier Sim Gaming Leagues Ltd. All rights reserved. &bull; <a href="/contact">Contact</a> &bull; <a href="/terms">Terms</a> &bull; <a href="/privacy">Privacy</a>
			<button
				id="preferenceModal"
				class="button-title"
				type="button"
				style="font-weight: 600;
				cursor: pointer;
				outline: none;
				margin-left: 10px;
				padding: 0 6px;
				min-height: 2em;
				max-height: 2em;
				height: 2em;
				vertical-align: middle;
				background: #1b1d23;
				color: #efefef;
				font-size: .857em;
				border: 1px solid #1c1f29;
				border-radius: 2px;
				box-sizing: border-box;">Manage Cookie Preferences
			</button>
		</p>
	</div>
</footer>
