{% assign custom_pages = (site.custom_pages | sort: 'menu_order') %}
{% assign competitions = (site.competitions | sort: 'date') %}

{% capture menu_list %}
	{% for menu in site.data.navigation.menu %}
		{{menu.title}}|{{menu.url}}|{{menu.icon}}|{{menu.standings}}|{{menu.discord}}|{{menu.twitter}}|{{menu.youtube}}|{{menu.no_text}}|{{menu.twitch}}|{{menu.tiktok}}
		{% if forloop.index == 1 %}
			{% for page in custom_pages %}
				{% if page.title != null and page.menu_hide != true %}
					::{{page.menu_title}}|{{page.url}}|{{page.menu_icon}}
				{% endif %}
			{% endfor %}
		{% endif%}

		{% if forloop.index == 1 %}
			{% for comp in competitions %}
				{% if comp.menu_hide != true and comp.signup_url != '' and comp.signup_url != null %}
					::{{comp.menu_title}}|{{comp.signup_url}}|{{comp.menu_icon}}
				{% endif %}

				{% assign current_season = site.seasons | where: "category", comp.slug %}
				{% for season in current_season %}
					{% if season and season.menu_hide != true %}
						::{{season.menu_title}}|{{season.url}}|{{season.menu_icon}}
					{% endif %}
				{% endfor %}
			{% endfor %}
		{% endif%}

		{% if forloop.last == false %}::{% endif%}
	{% endfor %}
{% endcapture %}
{% assign menu_array = menu_list | split: '::'%}
{%- assign set_active = false -%}
<nav id="menu_nav">
	<ul id="main_menu" role="menubar">
	{% for item in menu_array %}
		{%- assign menu_vals = item | split: '|' -%}

		{%- assign title = menu_vals[0] | strip -%}
		{%- assign discord = menu_vals[4] | strip -%}
		{%- assign twitter = menu_vals[5] | strip -%}
		{%- assign youtube = menu_vals[6] | strip -%}
		{%- assign no_text = menu_vals[7] | strip -%}
		{%- assign twitch = menu_vals[8] | strip -%}
		{%- assign tiktok = menu_vals[9] | strip -%}

		{%- if discord == 'true' -%}
			{%- assign url = site.url | append: '/discord' | strip -%}
			{%- assign target = true -%}
		{%- elsif twitter == 'true' -%}
			{%- assign url = 'https://x.com/' | append: site.data.settings.twitter | remove:'@' | strip -%}
			{%- assign target = true -%}
		{% elsif youtube == 'true' %}
			{%- assign url = 'https://www.youtube.com/channel/' | append: site.data.settings.youtube | append: '?sub_confirmation=1' | strip -%}
			{%- assign target = true -%}
		{% elsif twitch == 'true' %}
			{%- assign url = 'https://www.twitch.tv/' | append: site.data.settings.twitch | strip -%}
			{%- assign target = true -%}
		{% elsif tiktok == 'true' %}
			{%- assign url = 'https://www.tiktok.com/@' | append: site.data.settings.tiktok | strip -%}
			{%- assign target = true -%}
		{% else %}
			{%- assign url = menu_vals[1] | strip -%}
			{%- assign target = false -%}
		{% endif %}

		{%- assign icon = menu_vals[2] | strip -%}
		{%- assign standings = menu_vals[3] | strip -%}

		{%- if standings == 'true' -%}
			{% assign class = 'linklevel1 subsections' %}
		{% else %}
			{% assign class = 'linklevel1' %}
		{%- endif -%}

		{%- if url == "/" -%}
			{% if page.url == "/" %}
				{% assign class = class | append: ' active' %}
			{% endif %}
		{% elsif set_active != true and url != '' and url != null and page.url contains url %}
			{% assign class = class | append: ' active' %}
			{% assign set_active = true %}
		{% endif %}
		<li class="listlevel1" role="menuitem">
			<a class="{{ class }}" href="{{ url }}"{%- if target -%} target="_blank"{% endif %}><i class="icon icon-menu icon-lg" style='background: url("{{ icon }}") no-repeat;background-size:100%;' title="{{ title }}"></i><span class="button_title">{%- if no_text != 'true' -%}{{ title }}{% endif %}{%- if target -%}{%- if no_text != 'true' -%}&nbsp;{% endif %}&#8599;{% endif %}</span></a>
		</li>
	{% endfor %}
	</ul>
</nav>
