/* Normal, standard links. */
a, a:link, a:visited,
/* Links that open in a new window. */
a.new_win:link, a.new_win:visited {
	text-decoration: none;
}

/* Cursor declared here.Should not be required anywhere else. */
a:hover, a.new_win:hover {
	cursor: pointer;
	text-decoration: underline;
}

body {
	font: 87.5%/150% "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", "Trebuchet MS", Arial, sans-serif;
	color: #D6D6D6;
	overflow: auto;
    margin-top: 2px;
    border: 1px solid;
	border-color: #1c1f29;
    background: #0c0d10;
	background-image: linear-gradient(to bottom,#111317,#0c0d10);
	clear: both;
	padding-top: 10px;
	padding-bottom: 20px;
}

html {
    background: #012478;
}

.post_wrapper {
	display: block;
	clear: both;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 100%;
}

.frame-content {
	padding: 10px 20px;
	font-size: 1em;
}
.frame-content img {
	max-width: 100%;
}

.frame-content p, .frame-content blockquote, .frame-content pre, .frame-content ul, .frame-content ol, .frame-content dl,
.frame-content figure, .frame-content .highlight {
	margin-bottom: 15px;
}

.frame-content ul, ol {
	list-style-type: disc;
	padding-inline-start: 40px;
}

.frame-content blockquote {
	overflow: auto;
	margin: 0 0 1em 0;
	padding: 6px 10px;
	font-size: .857em;
	border: 1px solid;
	border-top: 0;
    border-color: #1c1f29;
    background: #0c0d10;
    background-image: linear-gradient(to bottom,#181a1f,#0c0d10);
	box-shadow: 2px 2px 2px #0e1015;
}