---
layout: default
title: News
description: News
permalink: /news
menu_title: News
menu_icon: /assets/site-img/PSGL-Logo.png
menu_hide: true
menu_order: 1
---

{%- if site.posts.size > 0 -%}
<header class="category_header">
	All News
</header>
{%- for post in site.posts limit:32 -%}
{%- unless post.hide -%}
<article class="post_wrapper blogposts">
	<div class="psgl_content_left">
		<header class="psgl_content_header">
			<a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
		</header>
		<div class="psgl_content_inline">
			{%- assign is_twitter = post.author | slice: 0 -%}

			{% if is_twitter contains "@" %}
				<a href="https://twitter.com/{{ post.author }}" rel="noopener" target="_blank">{{ post.author }}</a> |&nbsp;
			{%- else -%}
				{{ post.author }} |&nbsp;
			{%- endif -%}

			{{ post.date | date_to_long_string: "ordinal" }}
		</div>
		<div class="psgl_content">
		{{ post.excerpt }}

		{% if post.content contains site.excerpt_separator %}
		  <p><a href="{{ post.url | relative_url }}">Read article</a></p>
		{% endif %}
		</div>
	</div>
	<div class="psgl_content_right">
		{%- if post.image != null and post.image != "" -%}
		<a href="{{ post.url | relative_url }}" title="{{ post.title | escape }}"><img src="{{ post.image }}" loading="lazy" alt="" /></a>
		{%- endif -%}
	</div>
</article>
{%- endunless -%}
{%- endfor -%}
{%- endif -%}