---
layout: default
---
{% for calendar in page.calendars %}
	<header class="category_header">
		{{ calendar.name | escape }}
	</header>
	{%- if calendar.content -%}
	<article class="post_wrapper blogposts" style="margin-bottom: 25px;">
		<div class="psgl_content">
			{{ calendar.content | markdownify }}
		</div>
	</article>
	{%- else -%}
	<article class="post_wrapper blogposts" style="padding: 0;margin-bottom: 25px;">
		<div class="psgl_calendars">
			{% for image_src in calendar.images %}
			<a href="{{ image_src }}">
				<img width="{{ calendar.width }}" height="{{ calendar.height }}" src="{{ image_src }}" alt="{{ calendar.name }}">
			</a>
			{% endfor %}
		</div>
	</article>
	{%- endif -%}
{% endfor %}
{{ content }}
