<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

	{%- include header.html -%}

	<div id="wrapper" class="wrapper">

	{%- include menu.html -%}

		<div class="psgl_grid">
			<div class="psgl_row_left">
				<main>
				{{ content }}
				</main>
			</div>
			<div class="psgl_row_right">

				{%- comment -%}
				<div class="psgl_join">
					<div class="category_header">
						<span class="smalltext"><a href="https://www.twitch.tv/{{ site.data.settings.twitch }}" rel="noopener" target="_blank">PSGL - PC F1 - LIVE</a></span>
					</div>
					<div class="twitch-video">
						<div id="twitch-embed"></div>
						<script src="https://player.twitch.tv/js/embed/v1.js"></script>
						<script type="text/javascript">
							new Twitch.Player("twitch-embed", {
								width: '100%',
								height: '100%',
								muted: true,
								channel: '{{ site.data.settings.twitch }}'
							});
						</script>
					</div>
				</div>
				{%- endcomment -%}

				<div class="psgl_join">
					<div class="post_wrapper blogposts">
						<div class="center" style="padding-bottom: 7px;border-bottom: 1px solid #1c1f29;">
							Affiliates
							<div style="font-size: 0.8em;">Commissions may be earned.</div>
						</div>
						<div class="center" style="padding-top: 15px;">
							<a href="https://simracingsetup.com/product/f1/f1-25-setup-bundle/?ref=psgl" title="PSGL x Sim Racing Setups">
								<img width="360" height="160" src="/assets/site-img/psgl-x-simracingsetup-360.png" loading="lazy" alt="Sim Racing Setups" style="max-width: 60%;" />
							</a>
							<div class="center" style="padding: 15px 5px;margin-bottom: 15px;font-size: 0.9em;/* border-bottom: 1px solid #1c1f29; */">
								Use discount code <span style="font-weight: bold;">PSGL</span> at checkout for 5% off on
								<div style="font-weight: bold;font-size: 1.6em;line-height: 250%;"><a href="https://simracingsetup.com/product/f1/f1-25-setup-bundle/?ref=psgl" title="PSGL x Sim Racing Setups">Sim Racing Setups</a></div>
							</div>
						</div>
					</div>
				</div>

				{%- comment -%}
				{%- if page.url == "/" -%}
				<div style="color-scheme: normal">
					<a class="twitter-timeline" data-chrome="transparent" data-height="1400" data-dnt="true" data-theme="dark" href="https://twitter.com/{{ site.data.settings.twitter | remove:'@' }}?ref_src=twsrc%5Etfw">Tweets by {{ site.data.settings.twitter | remove:'@' }}</a>
					<script async class="_iub_cs_activate" data-iub-purposes="3" data-suppressedsrc="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
				{%- endif -%}
				{%- endcomment -%}
			</div>
		</div>
	</div>

	{%- include footer.html -%}
  </body>

</html>
