<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

	{%- include header.html -%}

	<div id="wrapper" class="wrapper">

	{%- include menu.html -%}

		<div class="psgl_grid">
			<div class="psgl_row_left">
				<main>
				{{ content }}
				</main>
			</div>
			<div class="psgl_row_right">

				{%- comment -%}
				<div class="psgl_join">
					<div class="category_header">
						<span class="smalltext"><a href="https://www.twitch.tv/{{ site.data.settings.twitch }}" rel="noopener" target="_blank">PSGL - PC F1 - LIVE</a></span>
					</div>
					<div class="twitch-video">
						<div id="twitch-embed"></div>
						<script src="https://player.twitch.tv/js/embed/v1.js"></script>
						<script type="text/javascript">
							new Twitch.Player("twitch-embed", {
								width: '100%',
								height: '100%',
								muted: true,
								channel: '{{ site.data.settings.twitch }}'
							});
						</script>
					</div>
				</div>
				{%- endcomment -%}

				<div class="psgl_join">
					<div class="post_wrapper blogposts">
						<div class="center" style="padding-bottom: 7px;border-bottom: 1px solid #1c1f29;">
							Affiliates
							<div style="font-size: 0.8em;">Commissions may be earned.</div>
						</div>
						<div class="center" style="padding-top: 15px;">
							<a href="https://www.gtomega.co.uk/?rfsn=6685710.a59c6dc&utm_source=refersion&utm_medium=PSGL" title="PSGL x GT Omega">
								<img width="360" height="160" src="/assets/site-img/psgl-x-gt-omega-360.png" loading="lazy" alt="GT Omega" style="max-width: 60%;" />
							</a>
							<div class="center" style="padding: 15px 5px;margin-bottom: 15px;font-size: 0.9em;border-bottom: 1px solid #1c1f29;">
								Use discount code <span style="font-weight: bold;">PSGL</span> at checkout for 5% off on <a href="https://www.gtomega.co.uk/?rfsn=6685710.a59c6dc&utm_source=refersion&utm_medium=PSGL" title="PSGL x GT Omega">GT Omega products</a>.
							</div>
							<a href="https://simracing-centre.com/psgl" title="PSGL x Simracing Centre">
								<img width="360" height="160" src="/assets/site-img/psgl-x-src-360.png" loading="lazy" alt="Simracing Centre" style="max-width: 60%;" />
							</a>
							<div class="center" style="padding: 15px 5px;margin-bottom: 15px;font-size: 0.9em;">
								Use discount code <span style="font-weight: bold;">PSGL</span> at checkout for 10% off on <a href="https://simracing-centre.com/psgl" title="PSGL x Simracing Centre">Simracing Centre</a>.
							</div>
							{%- comment -%}
							<a href="#" title="Amazon">
								<img width="360" height="160" src="/assets/site-img/amazon.png" loading="lazy" alt="Amazon" style="max-width: 60%;" />
							</a>
							<a href="#" title="Fanatec">
								<img width="360" height="160" src="/assets/site-img/fanatec.png" loading="lazy" alt="Fanatec" style="max-width: 60%;" />
							</a>
							{%- endcomment -%}
						</div>
					</div>
					{%- comment -%}
					<a href="{{ site.url }}/gt-omega" title="PSGL x GT Omega"><img width="567" height="148" src="/assets/site-img/psgl-x-gt-omega-home.png" loading="lazy" alt="" /></a>
					{%- endcomment -%}

					{%- comment -%}
					{%- if page.url != "/" -%}
					<a href="https://www.youtube.com/channel/{{ site.data.settings.youtube }}?sub_confirmation=1" title="Featured Video" rel="noopener" target="_blank"><img width="563" height="147" src="/assets/site-img/PSGL-Home-YouTube.png" loading="lazy" alt="" /></a>
					<a href="{{ site.url }}/discord" title="Join our Discord" rel="noopener" target="_blank"><img width="567" height="148" src="/assets/site-img/PSGL-Home-Discord.png" loading="lazy" alt="" /></a>
					{%- endif -%}
					{%- endcomment -%}
				</div>

				{%- if page.url == "/" -%}
				<div style="color-scheme: normal">
					<a class="twitter-timeline" data-chrome="transparent" data-height="1400" data-dnt="true" data-theme="dark" href="https://twitter.com/{{ site.data.settings.twitter | remove:'@' }}?ref_src=twsrc%5Etfw">Tweets by {{ site.data.settings.twitter | remove:'@' }}</a>
					<script async class="_iub_cs_activate" data-iub-purposes="3" data-suppressedsrc="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
				{%- endif -%}
			</div>
		</div>
	</div>

	{%- include footer.html -%}
  </body>

</html>
