---
layout: default
---

<header class="category_header">
	{{ page.title }}
</header>
{%- for signup in site.signups -%}
{%- unless signup.hide -%}
<article class="post_wrapper blogposts">
	<div class="psgl_content_left">
		<div class="psgl_content">
			<h1>{{ signup.title }}</h1>
			{{ signup.content | markdownify }}
		</div>
	</div>
	<div class="psgl_content_right">
		{%- if signup.image != null and signup.image != "" -%}
		<a href="{{ site.url }}/discord" title="Join our Discord"><img width="1280" height="720" src="{{ signup.image }}" loading="lazy" alt="" /></a>
		{%- endif -%}
	</div>
</article>
{%- endunless -%}
{%- endfor -%}

<article class="post_wrapper blogposts">
	<div class="psgl_content center">
		<strong><a href="{{ site.url }}/discord" title="Sign-up on Discord" rel="noopener" target="_blank">Sign-up on The PSGL Discord&nbsp;&#8599;</a></strong>
	</div>
	<div class="psgl_content center">
		{%- include discord-widget.html -%}
	</div>
</article>

<section id="psgl_home_grid">
	<div class="psgl_home">
		<a href="https://www.youtube.com/channel/{{ site.data.settings.youtube }}?sub_confirmation=1" title="Subscribe to our YouTube channel" rel="noopener" target="_blank"><img width="563" height="147" src="/assets/site-img/PSGL-Home-YouTube.png" loading="lazy" alt="" /></a>
		<div class="embed-container">
			<iframe class="_iub_cs_activate" title="Featured Video" data-suppressedsrc="https://www.youtube-nocookie.com/embed/{{ site.data.settings.featured_video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" loading="lazy" allowfullscreen></iframe>
		</div>
	</div>
	<div class="psgl_home">
		<a href="{{ site.url }}/discord" title="Join our Discord" rel="noopener" target="_blank"><img width="567" height="148" src="/assets/site-img/PSGL-Home-Discord.png" loading="lazy" alt="" /></a>
		<a href="{{ site.url }}/discord" title="Join our Discord"  rel="noopener" target="_blank"><img width="567" height="318" src="/assets/site-img/PSGL-Home-Discord-Block.png" loading="lazy" alt="" /></a>
	</div>
</section>
