---
layout: default
---
<header class="category_header">
	{{ page.title | escape }}
</header>
<article class="post_wrapper blogposts">
	{%- if page.image != null and page.image != "" -%}
	<div class="psgl_content_image">
		<img src="{{ page.image }}" alt="" />
	</div>
	{%- endif -%}
	<div class="psgl_content">
	{{ content }}
	</div>

	{%- if page.discord -%}
	<script src="/assets/js/discordInvite.js"></script>
	<script>
		$(document).ready(function(){
			discordInvite.init({
			inviteCode: 's9TzzCb',
			title: 'The PSGL Discord',
			hideIntro: true,
			});
			discordInvite.render();
		});
	</script>
	<div id="discordInviteBox"></div>
{%- endif -%}
</article>
