---
layout: default
---
{% assign current_league = site.leagues | where: "category", "s25" %}

<header class="category_header">
	{{ page.title | escape }}
</header>
<article class="post_wrapper blogposts">
	<div id="league_video" class="center"></div>
	<nav id="videos_list" style="display:none;">
		<ul>
		</ul>
	</nav>
	<nav id="latest_videos_list">
		<div class="psgl_content">
			<div class="standings_header">Latest</div>
		</div>
		<ul class="league_list">
		</ul>
	</nav>

</article>

<script>
	var league = [];
	league["f1"] = [];
	league["f2"] = [];
	league["f3"] = [];
	league["f4"] = [];
	league["f5"] = [];
	league["f6"] = [];
	league["fp"] = [];

	$(document).ready(async function()
	{
		const league_video = $("#league_video");
		league_video.html('Loading...');

		try
		{
			const league_list = $('.league_list');

			let youtube_fetch = await fetch('/.netlify/functions/get-youtube');
			let youtube_json = JSON.parse(await youtube_fetch.text());

			console.log(youtube_json);

			if (!youtube_json)
				throw 'youtube_json false';

			league_video.html('');

			for (const video of youtube_json)
			{
				league_list.append(`
			<li data-youtube="${video.videoId}" class="league_vbutton">
				<img src="${video.thumbnail}" alt="" />
				<div class="league_vlink">
					<a href="#">${video.title}</a>
				</div>
			</li>`);
			}
		}
		catch (e)
		{
			console.error(e);
			league_video.html('Error loading videos.');
		}

		let params = (new URL(document.location)).searchParams;
		let l_id = params.get('league');

		if (l_id != null && l_id != "")
			loadLeague(l_id);

		function loadLeague(league_id)
		{
			$("#all_leagues").hide();
			$("#latest_videos_list").hide();

			if (league[league_id] != undefined)
			{
				$("#videos_list").show();

				$.each(league[league_id], function(index, value)
				{
					if (value.id != 0)
					{
						if (index == 0)
						league_video.html('<div class="embed-container"><iframe src="https://www.youtube-nocookie.com/embed/' + value.id + '" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>');

						$("#videos_list ul").append('<li data-youtube="' + value.id + '" class="league_vbutton"><img src="' + value.thumbnail + '" alt="" /><div class="league_vlink"><a href="#">' + value.title + '</a></div></li>');
					}
				});

				$(".league_vbutton").click(function(event)
				{
					addVideo($(this));
				});

				$("#videos_list ul").append('<li class="league_vbutton league_vbutton_break"></li><li class="league_vbutton"><div class="league_vlink"><a href="https://www.youtube.com/channel/{{ site.data.settings.youtube }}/search?query=%22Season+25+%7C+' + league_id + '%22" rel="noopener" target="_blank">View More on YouTube</a></div></li>');
			}
		}

		function addVideo(el)
		{
			event.preventDefault();

			if (el.data("youtube") != '')
			{
				league_video.html('<div class="embed-container"><iframe src="https://www.youtube-nocookie.com/embed/' + el.data("youtube") + '" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>');
				league_video.get(0).scrollIntoView();
			}
		}

		$(window).on('popstate', function(event)
		{
			if (event.state != null && event.state.league != null)
			{
				loadLeague(event.state.league);
			}
			else
			{
				$("#videos_list").hide();
				$("#all_leagues").show();
				$("#latest_videos_list").show();
				league_video.empty();
				$("#videos_list ul").empty();
			}
		});

		$(".league_vbutton").click(function(event)
		{
			$("#all_leagues").hide();
			history.pushState(null, "");

			addVideo($(this));
		});

		$(".league_button").click(function(event)
		{
			event.preventDefault();

			let l_id = $(event.target).closest( "li" ).attr('id');

			history.pushState({league: l_id}, "", "?league=" + l_id);
			loadLeague(l_id);
		});
	});
</script>