---
layout: default
---

{% assign current_comp = site.competitions | where: "slug", page.category %}
{% assign current_season = site.seasons | where: "category", page.category %}

<header class="category_header">
	{{ current_comp.first.title }} {{ page.title | escape }}
</header>
<article class="post_wrapper blogposts">
	<div id="standings_view" class="psgl_content center">
	{{ content }}
	</div>
	<nav>
	<ul class="league_list">
	</ul>
	</nav>
	{%- if current_comp.first.halloffame != null and current_comp.first.halloffame != "" -%}
	<div class="psgl_content_left">
		<div class="psgl_content">
			<hr/>
			<a href="{{ current_comp.first.halloffame }}"><img src="{{ current_comp.first.halloffame }}" alt="" /></a><br />
			<a href="{{ current_comp.first.halloffame }}"><span>Full Size</span></a>
		</div>
	</div>
	{% endif %}
	{%- if current_season.size > 1 -%}
	<div class="psgl_content_right">
		<div class="psgl_content">
			<hr/>
			<div class="standings_header">Archives</div>
			{% for season in current_season %}
				{% if season.title != page.title %}
					<div class="standings_link"><a href="{{ season.url }}">{{ season.title | replace: " Standings" }}</a></div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	{% endif %}
</article>
<script>
	$(document).ready(async () =>
	{
		const standings_view = $('#standings_view');
		standings_view.html('Loading...');

		let standings_fetch = await fetch('/.netlify/functions/get-standings');
		let standings_json = JSON.parse(await standings_fetch.text());

		if (!standings_json)
			return console.error('standings_json false');

		standings_view.html('');

		const league_list = $('.league_list');

		function getLeagueName (l_id)
		{
			const tier_split = l_id.split('-');

			if (tier_split.length && tier_split[0] && tier_split[1])
			{
				return 'F' + tier_split[0] + ' ' + tier_split[1].toUpperCase();
			}
			else
				return '';
		}

		const DISCORD_EPOCH = 1420070400000;
		function convertSnowflakeToDate(snowflake, epoch = DISCORD_EPOCH)
		{
			return new Date(snowflake / 4194304 + epoch);
		}

		function getDiscordDate(url)
		{
			const URLObj = new URL(url);

			if (URLObj)
			{
				const path_split = URLObj.pathname.split('/');

				if (path_split)
				{
					const date = convertSnowflakeToDate(path_split[path_split.length - 2]);
					return date.toDateString();
				}
			}

			return '';
		}

		function loadLeague(l_id)
		{
			const league = standings_json.find(({ name }) => name === l_id);

			if (league)
			{
				history.pushState({league: l_id}, '', '?league=' + l_id);

				const title = getLeagueName(l_id) + ' Standings';
				$('.category_header').text(title);
				document.title = title;


				standings_view.show();
				standings_view[0].scrollIntoView();
				league_list.hide();

				let standings_view_html = '';

				if (league.data && league.data.drivers && league.data.drivers !== '')
					standings_view_html += `<a href="${league.data.drivers}"><img src="${league.data.drivers}" alt="" style="width:100%" /></a>
					<div class="smalltext right">Last Updated: ${getDiscordDate(league.data.drivers)}</div>
					<hr>`;

				if (league.data && league.data.constructors && league.data.constructors !== '')
					standings_view_html += `<a href="${league.data.constructors}"><img src="${league.data.constructors}" alt="" style="width:100%" /></a>
					<div class="smalltext right">Last Updated: ${getDiscordDate(league.data.constructors)}</div>
					<hr>`;

				standings_view.html(standings_view_html);
			}
		}

		let params = (new URL(document.location)).searchParams;
		let l_id = params.get('league');

		if (l_id && l_id != '')
			loadLeague(l_id);

		for (const tier of standings_json)
		{
			const tier_name_display = getLeagueName(tier.name);
			league_list.append(`
				<li class="league_button">
					<a class="league_link" href="/standings/?league=${tier.name}">
						<span id="${tier.name}">${tier_name_display}</span>
					</a>
				</li>`);
		}

		$('.league_button').click(function(event)
		{
			event.preventDefault();
			loadLeague(event.target.id);
		});

		$(window).on('popstate', function(event)
		{
			$('.category_header').text('{{ current_comp.first.title }} {{ page.title | escape }}');
			standings_view.hide();
			league_list.show();
		});
	});
</script>