---
layout: default
---

{% assign current_comp = site.competitions | where: "slug", page.category %}
{% assign current_league = site.leagues | where: "category", page.slug | sort: "slug" | sort: "order" %}

<header class="category_header">
	{{ current_comp.first.title }} {{ page.title | escape }} Standings
</header>
<article class="post_wrapper blogposts">
	<div class="psgl_content center">
	{{ content }}
	</div>
	<nav>
	<ul class="league_list">
	{% for league in current_league %}
	{%- if league.graphics.standings != null and league.graphics.standings != "" -%}
		<li class="league_button">
			<a href="{{ league.url }}">
				<img src="{{ league.graphics.standings }}" alt="" />
			</a>
		</li>
	{% else %}
		{% assign league_size = league.title | size %}

		{% if league_size > 6 %}
		<li class="league_button league_text_small">
		{% else %}
		<li class="league_button">
		{% endif %}
			<a class="league_link" href="{{ league.url }}">
				<span>{{ league.title | upcase }}</span>
			</a>
		</li>
	{% endif %}

	{% endfor %}
	</ul>
	</nav>
	{% include archive-list.html %}
</article>
