---
layout: default
---

<header class="category_header">
	{{ page.title | escape }}
</header>
<article class="post_wrapper blogposts">
	<div id="standings_view" class="psgl_content center">
	{{ content }}
	</div>
	<nav>
	<ul class="league_list">
	</ul>
	</nav>
	{% include archive-list.html %}
</article>
<script src="/assets/js/season-fetch.js"></script>
<script>
	$(document).ready(async () =>
	{
		const standings_view = $('#standings_view');
		standings_view.html('Loading...');

		try
		{
			let standings_fetch = await fetch('/.netlify/functions/get-standings?game={{ page.category }}');
			let standings_json = JSON.parse(await standings_fetch.text());

			if (!standings_json)
				throw 'standings_json false';

			season_fetch(standings_view, standings_json, '{{ page.url }}', '{{ page.title | escape }}');
		}
		catch (e)
		{
			console.error(e);
			standings_view.html('Error loading standings.');
		}
	});
</script>