---
layout: default
---

<header class="category_header">
	{{ page.title | escape }}
</header>
<article class="post_wrapper blogposts">
	<div id="standings_view" class="psgl_content center">
	{{ content }}
	</div>
	<nav>
	<ul class="league_list">
	</ul>
	</nav>
	{% include archive-list.html %}
</article>
<script src="/assets/js/season-fetch.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', async () =>
	{
		const standings_view = document.getElementById('standings_view');
		standings_view.innerHTML = 'Loading...';

		try {
			let standings_fetch = await fetch('/.netlify/functions/get-standings?game={{ page.category | upcase }}');
			if (!standings_fetch.ok) {
				throw new Error('Fetch failed with status ' + standings_fetch.status);
			}

			let standings_json = await standings_fetch.json();
			if (!standings_json) {
				throw new Error('JSON parsing failed');
			}

			season_fetch(standings_view, standings_json, '{{ page.url }}', '{{ page.title | escape }}');
		} catch (e) {
			console.error(e);
			standings_view.innerHTML = 'Error loading standings.';
		}
	});
</script>