---
layout: default
---

{% assign current_comp = site.competitions | where: "slug", page.category %}
{% assign current_league = site.leagues | where: "category", page.slug | sort: "slug" %}
{% assign current_season = site.seasons | where: "category", page.category %}

<header class="category_header">
	{{ current_comp.first.title }} {{ page.title | escape }} Standings
</header>
<article class="post_wrapper blogposts">
	<div class="psgl_content center">
	{{ content }}
	</div>
	<nav>
	<ul class="league_list">
	{% for league in current_league %}
	{%- if league.graphics.standings != null and league.graphics.standings != "" -%}
		<li class="league_button">
			<a href="{{ league.url }}">
				<img src="{{ league.graphics.standings }}" alt="" />
			</a>
		</li>
	{% else %}
		{% assign league_size = league.title | size %}

		{% if league_size > 3 %}
		<li class="league_button league_text_small">
		{% else %}
		<li class="league_button">
		{% endif %}
			<a class="league_link" href="{{ league.url }}">
				<span>{{ league.title | upcase }}</span>
			</a>
		</li>
	{% endif %}

	{% endfor %}
	</ul>
	</nav>
	{%- if current_comp.first.halloffame != null and current_comp.first.halloffame != "" -%}
	<div class="psgl_content_left">
		<div class="psgl_content">
			<hr/>
			<a href="{{ current_comp.first.halloffame }}"><img src="{{ current_comp.first.halloffame }}" alt="" /></a><br />
			<a href="{{ current_comp.first.halloffame }}"><span>Full Size</span></a>
		</div>
	</div>
	{% endif %}
	{%- if current_season.size > 1 -%}
	<div class="psgl_content_right">
		<div class="psgl_content">
			<hr/>
			<div class="standings_header">Archives</div>
			{% for season in current_season %}
				{% if season.title != page.title %}
					<div class="standings_link"><a href="{{ season.url }}">{{ season.title }}</a></div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	{% endif %}
</article>
